In [15]:
import pandas as pd
from geopy.geocoders import Nominatim

In [2]:
df = pd.read_csv("Data/actes-criminels.csv")
df.head()

,CATEGORIE,DATE,QUART,PDQ,X,Y,LONGITUDE,LATITUDE
0,Vol de véhicule à moteur,2018-09-13,jour,30.0,294904.159001,5.047549e+06,-73.626778,45.567780
1,Vol de véhicule à moteur,2018-04-30,jour,30.0,294904.159001,5.047549e+06,-73.626778,45.567780
2,Vol de véhicule à moteur,2018-09-01,nuit,7.0,290274.565000,5.042150e+06,-73.685928,45.519122
3,Méfait,2017-07-21,jour,21.0,NaN,NaN,NaN,NaN
4,Méfait,2017-07-29,jour,12.0,NaN,NaN,NaN,NaN

In [3]:
def translate_category(cat):
    translation_list = [
    ['Vol de véhicule à moteur', 'Méfait', 'Vols qualifiés', 'Vol dans / sur véhicule à moteur', 'Introduction', 'Infractions entrainant la mort'],
    ['Motor vehicle theft', 'Mischief', 'Robbery', 'Theft from/into a motor vehicle', 'Breaking and entering', 'Offences resulting in death']
    ]
    if cat in translation_list[0]:
        index = translation_list[0].index(cat)
        return translation_list[1][index]
    

def translate_quart(quart):
    translation_list = [
    ['jour', 'soir', 'nuit'],
    ['Day', 'Evening', 'Night']
    ]
    if quart in translation_list[0]:
        index = translation_list[0].index(quart)
        return translation_list[1][index]

In [4]:
df["CATEGORIE"] = df["CATEGORIE"].apply(translate_category)
df["QUART"] = df["QUART"].apply(translate_quart)

In [5]:
df

,CATEGORIE,DATE,QUART,PDQ,X,Y,LONGITUDE,LATITUDE
0,Motor vehicle theft,2018-09-13,Day,30.0,294904.159001,5.047549e+06,-73.626778,45.567780
1,Motor vehicle theft,2018-04-30,Day,30.0,294904.159001,5.047549e+06,-73.626778,45.567780
2,Motor vehicle theft,2018-09-01,Night,7.0,290274.565000,5.042150e+06,-73.685928,45.519122
3,Mischief,2017-07-21,Day,21.0,NaN,NaN,NaN,NaN
4,Mischief,2017-07-29,Day,12.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
242478,Mischief,2022-08-24,Day,42.0,299127.168000,5.050538e+06,-73.572711,45.594725
242479,Motor vehicle theft,2022-08-24,Day,26.0,294730.395007,5.038696e+06,-73.628822,45.488119
242480,Theft from/into a motor vehicle,2022-08-23,Evening,38.0,NaN,NaN,NaN,NaN
242481,Theft from/into a motor vehicle,2022-08-24,Day,39.0,294303.813010,5.051033e+06,-73.634544,45.599122
242482,Breaking and entering,2022-08-24,Day,27.0,292284.182000,5.047738e+06,-73.660348,45.569439

In [13]:
df.columns = ['Category', 'Date', 'Time Frame', 'PDQ', 'X', 'Y', 'Longitude', 'Latitude']

In [14]:
df

,Category,Date,Time Frame,PDQ,X,Y,Longitude,Latitude
0,Motor vehicle theft,2018-09-13,Day,30.0,294904.159001,5.047549e+06,-73.626778,45.567780
1,Motor vehicle theft,2018-04-30,Day,30.0,294904.159001,5.047549e+06,-73.626778,45.567780
2,Motor vehicle theft,2018-09-01,Night,7.0,290274.565000,5.042150e+06,-73.685928,45.519122
3,Mischief,2017-07-21,Day,21.0,NaN,NaN,NaN,NaN
4,Mischief,2017-07-29,Day,12.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
242478,Mischief,2022-08-24,Day,42.0,299127.168000,5.050538e+06,-73.572711,45.594725
242479,Motor vehicle theft,2022-08-24,Day,26.0,294730.395007,5.038696e+06,-73.628822,45.488119
242480,Theft from/into a motor vehicle,2022-08-23,Evening,38.0,NaN,NaN,NaN,NaN
242481,Theft from/into a motor vehicle,2022-08-24,Day,39.0,294303.813010,5.051033e+06,-73.634544,45.599122
242482,Breaking and entering,2022-08-24,Day,27.0,292284.182000,5.047738e+06,-73.660348,45.569439

In [17]:
df_pdq = pd.read_csv("Data/pdq.csv")
df_pdq.head()

,NO_CIV_LIE,PREFIX_TEM,NOM_TEMP,DIR_TEMP,MUN_TEMP,DESC_LIEU,LATITUDE,LONGITUDE,X,Y
0,4 139,BOUL,SOURCES DES,NaN,DDO,POSTE DE QUARTIER 4,45.4944,-73.8073,280782.050010,5.039432e+06
1,8 930,BOUL,PIE-IX,NaN,MTL,POSTE DE QUARTIER 30,45.5777,-73.6174,295637.788999,5.048650e+06
2,4 555,RUE,HOCHELAGA,NaN,MTL,POSTE DE QUARTIER 23,45.5569,-73.5459,301216.518467,5.046333e+06
3,11 756,BOUL,O'BRIEN,NaN,MTL,POSTE DE QUARTIER 10,45.5285,-73.7010,289099.727535,5.043196e+06
4,6 100,BOUL,HENRI-BOURASSA,NaN,MTN,POSTE DE QUARTIER 39,45.6077,-73.6156,295783.071194,5.051984e+06

In [18]:
df_pdq["DESC_LIEU"] = df_pdq["DESC_LIEU"].apply(lambda x: x.replace("POSTE DE QUARTIER ", ""))

In [19]:
df_pdq.head()

,NO_CIV_LIE,PREFIX_TEM,NOM_TEMP,DIR_TEMP,MUN_TEMP,DESC_LIEU,LATITUDE,LONGITUDE,X,Y
0,4 139,BOUL,SOURCES DES,NaN,DDO,4,45.4944,-73.8073,280782.050010,5.039432e+06
1,8 930,BOUL,PIE-IX,NaN,MTL,30,45.5777,-73.6174,295637.788999,5.048650e+06
2,4 555,RUE,HOCHELAGA,NaN,MTL,23,45.5569,-73.5459,301216.518467,5.046333e+06
3,11 756,BOUL,O'BRIEN,NaN,MTL,10,45.5285,-73.7010,289099.727535,5.043196e+06
4,6 100,BOUL,HENRI-BOURASSA,NaN,MTN,39,45.6077,-73.6156,295783.071194,5.051984e+06

In [91]:
coord = "45.6076999996,-73.6156000001"
location = locator.reverse(coord)

In [92]:
location.raw["address"]

{'amenity': 'Poste de quartier n°39',
 'house_number': '6100',
 'road': 'Boulevard Henri-Bourassa Est',
 'suburb': 'Montréal-Nord',
 'city': 'Montréal',
 'county': 'Agglomération de Montréal',
 'region': 'Montréal (région administrative)',
 'state': 'Québec',
 'ISO3166-2-lvl4': 'CA-QC',
 'postcode': 'H1G 5X3',
 'country': 'Canada',
 'country_code': 'ca'}

In [93]:
def get_neighbour(coords):
    locator = Nominatim(user_agent='openmapquest')
    location = locator.reverse(coords)
    try:
        return location.raw["address"]["neighbourhood"]
    except KeyError:
        try:
            return location.raw["address"]["town"]
        except:
            return location.raw["address"]["suburb"]

In [72]:
df_pdq["Coordinates"] = df_pdq["LATITUDE"].map(str) + "," + df_pdq["LONGITUDE"].map(str)
df_pdq.head(n=35)

,NO_CIV_LIE,PREFIX_TEM,NOM_TEMP,DIR_TEMP,MUN_TEMP,DESC_LIEU,LATITUDE,LONGITUDE,X,Y,Coordinates,Neighbourhood
0,4 139,BOUL,SOURCES DES,NaN,DDO,4,45.4944,-73.8073,280782.050010,5.039432e+06,"45.4944000002,-73.8073000005",
1,8 930,BOUL,PIE-IX,NaN,MTL,30,45.5777,-73.6174,295637.788999,5.048650e+06,"45.5777000003,-73.6173999999",
2,4 555,RUE,HOCHELAGA,NaN,MTL,23,45.5569,-73.5459,301216.518467,5.046333e+06,"45.5569000002,-73.5459000003",
3,11 756,BOUL,O'BRIEN,NaN,MTL,10,45.5285,-73.7010,289099.727535,5.043196e+06,"45.5285,-73.7010000004",
4,6 100,BOUL,HENRI-BOURASSA,NaN,MTN,39,45.6077,-73.6156,295783.071194,5.051984e+06,"45.6076999996,-73.6156000001",
5,395,BOUL,ST-JEAN,NaN,PCL,5,45.4479,-73.8159,280089.579956,5.034267e+06,"45.4478999991,-73.8158999998",
6,21,STRE,STANTON,NaN,WES,12,45.4864,-73.5987,297084.713827,5.038502e+06,"45.4864000008,-73.5987",
7,1 625,AVEN,EGLISE DE L',NaN,MTL,15,45.4637,-73.5850,298152.961783,5.035978e+06,"45.4637000002,-73.585",
8,1 498,BOUL,ST-JEAN-BAPTISTE,NaN,MTL,49,45.6416,-73.5054,304379.047761,5.055745e+06,"45.6415999997,-73.5054000001",
9,920,RUE,BELANGER,NaN,MTL,35,45.5398,-73.6091,296279.817150,5.044437e+06,"45.5397999994,-73.6091",
10,1 761,RUE,GRENET,NaN,VSL,7,45.5184,-73.6967,289432.854484,5.042072e+06,"45.5184000004,-73.6967000002",
11,2 883,BOUL,ST-CHARLES,NaN,KIR,1,45.4473,-73.8523,277241.997024,5.034212e+06,"45.4473000001,-73.8523000004",
12,170,AVEN,15E,NaN,LAC,8,45.4344,-73.6771,290943.528354,5.032734e+06,"45.4343999997,-73.6771",
13,6 850,BOUL,JOSEPH-RENAUD,NaN,ANJ,46,45.6050,-73.5530,300665.742552,5.051679e+06,"45.6050000004,-73.5530000003",
14,5 501,AVEN,WESTMINSTER,NaN,CSL,9,45.4598,-73.6621,292122.833264,5.035554e+06,"45.4597999994,-73.6621000003",
15,1 669,RUE,BERRI,NaN,MTL,21,45.5165,-73.5631,299870.159929,5.041844e+06,"45.5164999999,-73.5630999999",
16,1 033,RUE,RACHEL,E,MTL,38,45.5255,-73.5752,298925.754820,5.042845e+06,"45.5254999995,-73.5751999998",
17,8 745,BOUL,LASALLE,NaN,LAS,13,45.4155,-73.6217,295274.898787,5.030625e+06,"45.4155000001,-73.6217",
18,1 200,AVEN,PAPINEAU,NaN,MTL,22,45.5217,-73.5510,300815.868681,5.042421e+06,"45.5217000004,-73.551",
19,7 405,AVEN,MOUNTAIN-SIGHTS,NaN,MTL,26,45.4961,-73.6516,292951.604698,5.039586e+06,"45.4960999992,-73.6516000004",
20,4 807,RUE,MOLSON,NaN,MTL,44,45.5424,-73.5693,299388.254281,5.044723e+06,"45.5424000006,-73.5692999996",
21,1 805,RUE,FLEURY,E,MTL,27,45.5686,-73.6536,292810.707844,5.047644e+06,"45.5686000008,-73.6535999998",
22,750,RUE,WILLIBRORD,NaN,VER,16,45.4592,-73.5733,299067.450997,5.035477e+06,"45.4592000004,-73.5733000003",
23,14 680,BOUL,PIERREFONDS DE,NaN,PRF,3,45.4861,-73.8572,276877.866254,5.038526e+06,"45.4860999994,-73.8572000004",
24,8 200,BOUL,MAURICE-DUPLESSIS,NaN,MTL,45,45.6333,-73.5864,298063.769945,5.054826e+06,"45.6333000008,-73.5864000004",
25,8 225,AVEN,ESPLANADE DE L',NaN,MTL,31,45.5371,-73.6355,294217.598320,5.044141e+06,"45.5371000003,-73.6354999999",
26,1 432,RUE,STE-CATHERINE,O,MTL,20,45.4961,-73.5765,298821.093302,5.039578e+06,"45.4960999992,-73.5765000004",
27,6 905,RUE,NOTRE-DAME,E,MTL,48,45.5777,-73.5151,303621.555435,5.048644e+06,"45.5777000003,-73.5151000004",
28,8 181,BOUL,LACORDAIRE,NaN,STL,42,45.5853,-73.5941,297457.174208,5.049492e+06,"45.5853000004,-73.5941000003",

In [90]:
get_neighbour("45.6076999996,-73.6156000001")

''

In [94]:
df_pdq["Neighbourhood"] = df_pdq["Coordinates"].apply(get_neighbour)

In [95]:
df_pdq

,NO_CIV_LIE,PREFIX_TEM,NOM_TEMP,DIR_TEMP,MUN_TEMP,DESC_LIEU,LATITUDE,LONGITUDE,X,Y,Coordinates,Neighbourhood
0,4 139,BOUL,SOURCES DES,NaN,DDO,4,45.4944,-73.8073,280782.050010,5.039432e+06,"45.4944000002,-73.8073000005",Dollard-des-Ormeaux
1,8 930,BOUL,PIE-IX,NaN,MTL,30,45.5777,-73.6174,295637.788999,5.048650e+06,"45.5777000003,-73.6173999999",Saint-Michel
2,4 555,RUE,HOCHELAGA,NaN,MTL,23,45.5569,-73.5459,301216.518467,5.046333e+06,"45.5569000002,-73.5459000003",Hochelaga-Maisonneuve
3,11 756,BOUL,O'BRIEN,NaN,MTL,10,45.5285,-73.7010,289099.727535,5.043196e+06,"45.5285,-73.7010000004",Cartierville
4,6 100,BOUL,HENRI-BOURASSA,NaN,MTN,39,45.6077,-73.6156,295783.071194,5.051984e+06,"45.6076999996,-73.6156000001",Montréal-Nord
5,395,BOUL,ST-JEAN,NaN,PCL,5,45.4479,-73.8159,280089.579956,5.034267e+06,"45.4478999991,-73.8158999998",Pointe-Claire
6,21,STRE,STANTON,NaN,WES,12,45.4864,-73.5987,297084.713827,5.038502e+06,"45.4864000008,-73.5987",Westmount
7,1 625,AVEN,EGLISE DE L',NaN,MTL,15,45.4637,-73.5850,298152.961783,5.035978e+06,"45.4637000002,-73.585",Côte-St-Paul
8,1 498,BOUL,ST-JEAN-BAPTISTE,NaN,MTL,49,45.6416,-73.5054,304379.047761,5.055745e+06,"45.6415999997,-73.5054000001",Pointe-aux-Trembles
9,920,RUE,BELANGER,NaN,MTL,35,45.5398,-73.6091,296279.817150,5.044437e+06,"45.5397999994,-73.6091",La Petite-Patrie
10,1 761,RUE,GRENET,NaN,VSL,7,45.5184,-73.6967,289432.854484,5.042072e+06,"45.5184000004,-73.6967000002",Saint-Laurent
11,2 883,BOUL,ST-CHARLES,NaN,KIR,1,45.4473,-73.8523,277241.997024,5.034212e+06,"45.4473000001,-73.8523000004",Kirkland
12,170,AVEN,15E,NaN,LAC,8,45.4344,-73.6771,290943.528354,5.032734e+06,"45.4343999997,-73.6771",Lachine
13,6 850,BOUL,JOSEPH-RENAUD,NaN,ANJ,46,45.6050,-73.5530,300665.742552,5.051679e+06,"45.6050000004,-73.5530000003",Anjou
14,5 501,AVEN,WESTMINSTER,NaN,CSL,9,45.4598,-73.6621,292122.833264,5.035554e+06,"45.4597999994,-73.6621000003",Côte-Saint-Luc
15,1 669,RUE,BERRI,NaN,MTL,21,45.5165,-73.5631,299870.159929,5.041844e+06,"45.5164999999,-73.5630999999",Ville-Marie
16,1 033,RUE,RACHEL,E,MTL,38,45.5255,-73.5752,298925.754820,5.042845e+06,"45.5254999995,-73.5751999998",Le Plateau-Mont-Royal
17,8 745,BOUL,LASALLE,NaN,LAS,13,45.4155,-73.6217,295274.898787,5.030625e+06,"45.4155000001,-73.6217",LaSalle
18,1 200,AVEN,PAPINEAU,NaN,MTL,22,45.5217,-73.5510,300815.868681,5.042421e+06,"45.5217000004,-73.551",Village gai
19,7 405,AVEN,MOUNTAIN-SIGHTS,NaN,MTL,26,45.4961,-73.6516,292951.604698,5.039586e+06,"45.4960999992,-73.6516000004",Le Triangle
20,4 807,RUE,MOLSON,NaN,MTL,44,45.5424,-73.5693,299388.254281,5.044723e+06,"45.5424000006,-73.5692999996",Rosemont
21,1 805,RUE,FLEURY,E,MTL,27,45.5686,-73.6536,292810.707844,5.047644e+06,"45.5686000008,-73.6535999998",Ahuntsic
22,750,RUE,WILLIBRORD,NaN,VER,16,45.4592,-73.5733,299067.450997,5.035477e+06,"45.4592000004,-73.5733000003",Verdun
23,14 680,BOUL,PIERREFONDS DE,NaN,PRF,3,45.4861,-73.8572,276877.866254,5.038526e+06,"45.4860999994,-73.8572000004",Pierrefonds-Roxboro
24,8 200,BOUL,MAURICE-DUPLESSIS,NaN,MTL,45,45.6333,-73.5864,298063.769945,5.054826e+06,"45.6333000008,-73.5864000004",Rivière-des-Prairies
25,8 225,AVEN,ESPLANADE DE L',NaN,MTL,31,45.5371,-73.6355,294217.598320,5.044141e+06,"45.5371000003,-73.6354999999",Villeray
26,1 432,RUE,STE-CATHERINE,O,MTL,20,45.4961,-73.5765,298821.093302,5.039578e+06,"45.4960999992,-73.5765000004",Ville-Marie
27,6 905,RUE,NOTRE-DAME,E,MTL,48,45.5777,-73.5151,303621.555435,5.048644e+06,"45.5777000003,-73.5151000004",Mercier
28,8 181,BOUL,LACORDAIRE,NaN,STL,42,45.5853,-73.5941,297457.174208,5.049492e+06,"45.5853000004,-73.5941000003",Saint-Léonard